extends layout

block content
	p This is my Node.js, Express.js and Twitter Bootstrap quick start. 
	ul
		li: a(href="http://twitter.github.com/bootstrap/index.html") Twitter Bootstrap
		li: a(href="http://nodejs.org") Node.js
		li: a(href="http://expressjs.com") Express.js
