

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.border-left {
	border-left: solid 1px #EEE; 
}

#quote-box {
	margin-left:15px;
}

footer {
	padding-top: 30px;
}















